<h2 class="text-center text-dark m-4">Lista de clientes test</h2>
<hr>

<div class="card">
    <div class="row">

        <div class="col-md-12">
            <form>
                <div class="row container mt-4">
                    <div class="col-md-3 mt-2">
                        <button [routerLink]="['/client-regist']" class="btn btn-primary btn-block">Nuevo cliente</button>
                    </div>
                    <div class="col-md-9 mt-2">
                        <div>
                            <input type="text" name="searchText" class="form-control form-control-sm  btn-outline-light border-dark" placeholder=" Buscar...">
                        </div>
                    </div>
                </div>

                <div class="row container mt-4">
                    <div class="container small">
                        <div class="row fadeIn">
                            <div class="col-12">

                                <table class="table table-sm table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th>NOMBRE DE CARRERA</th>
                                            <th>ESTATUS</th>
                                            <th>ACCIONES</th>
                                        </tr>
                                    </thead>

                                    <!-- SE MUESTRA CUANDO HAY REGISTROS -->
                                    <tbody>
                                        <tr>
                                            <td>dato 1</td>
                                            <td>dato 2</td>
                                            <td>dato 3</td>
                                        </tr>
                                        <tr>
                                            <td>dato 4</td>
                                            <td>dato 5</td>
                                            <td>dato 6</td>
                                        </tr>
                                        <tr>
                                            <td>dato 7</td>
                                            <td>dato 8</td>
                                            <td>dato 9</td>
                                        </tr>
                                    </tbody>

                                    <!-- SE MUESTRA CUANDO NO HAY REGISTROS -->
                                    <!-- <tbody *ngIf="careers.length &lt;= 0 && !cargando">
                                        <tr>
                                            <td colspan="14">
                                                <div class="alert-dismissible text-center" style="padding: .75rem 1.25rem;">
                                                    <h5 style="height: 100%;width: 100%;"><strong><i class="fa fa-frown-o" aria-hidden="true"></i> ¡NO HAY REGISTROS PARA MOSTRAR!</strong></h5>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody> -->
                                </table>
                                <!-- <div class="mt-4 float-right fadeIn ">
                                    <pagination-controls (pageChange)="pageActual=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
