<h2 class="text-center text-dark m-4">Lista de Seguimientos de Ordenes</h2>
<hr>

<div class="card">
    <div class="row">

        <div class="col-md-12">
            <form>
                <div class="row container mt-4">
                    <div class="col-md-12 mt-2">
                        <input [(ngModel)]="searchText" type="text" name="searchText" class="form-control form-control-sm btn-outline-secondary ops" placeholder=" Buscar...">
                    </div>
                </div>

                <div class="row container mt-4">
                    <div class="container small">
                        <div class="row fadeIn">
                            <div class="col-12">

                                <table class="table table-sm table-hover table-responsive-sm table-borderless table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>CLIENTE</th>
                                            <th>ESTATUS</th>
                                            <th>FECHA DE ATENCÓN</th>
                                            <th>DETALLES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of arrOrder | filter:searchText">
                                            <td>{{order.idCustomer.strFullName}}</td>
                                            <td> {{order.idRepairStatus.strStatus}} </td>
                                            <td>{{order.dteDateOfAttention}}</td>
                                            <td>
                                                <button [routerLink]="['/order-tracking-operation', order._id]" type="submit" class="btn btn-sm btn-block btn-primary">Mas...</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
