<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mt-5 mx-auto">
        <div class="card card-singnin my-5">
            <div class="card-body">
                <h4 class="card-title text-center pb-3">Iniciar Sesión</h4>
                <form (ngSubmit)="login(forma)" #forma="ngForm" class="form-signin">
                    <div class="form-label-group">
                        <input [(ngModel)]="admin.User" name="User" type="text" id="inputUser" class="form-control" placeholder="Ingresa tu usuario" required>
                        <label for="inputUser">Usuario</label>
                    </div>

                    <div class="form-label-group">
                        <input [(ngModel)]="admin.Password" name="password" type="Password" id="inputPass" class="form-control" placeholder="Ingresa tu contraseña" required>
                        <label for="inputPass">Password</label>
                    </div>

                    <button type="submit" [disabled]="btnIngresar" class="btn btn-lg btn-primary btn-block my-3">Ingresar</button>

                </form>
            </div>
        </div>
    </div>
</div>