<h2 class="text-center text-dark m-4">Orden de reparación</h2>
<h5 class="text-center text-dark m-4">Registro de orden</h5>
<hr>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="row">

                <div class="col-md-12">
                    <form (ngSubmit)="saveOrder(forma)" #forma="ngForm">
                        <div class="row container ml-1 mt-4">
         
                            <div class="col-md-12 mt-2">
                                <label>Dueño</label>
                                <select class="custom-select selectpicker form-control form-control-sm" type="text" title="Clientes"  name="idCustomer"  required>
                                    <!-- <option *ngFor="let estatus of arrEstatus"  [ngValue]="estatus._id" > {{estatus.strNombre}} </option> -->
                                </select>
                            </div>

                            <div class="col-md-4 mt-2">
                                <label>Dispositivo</label>
                                <input type="dispositivo" class="form-control" id="inputDispositivo">
                            </div>

                            <div class="col-md-4 mt-2">
                                <label>Modelo</label>
                                <input type="modelo" class="form-control" id="inputModelo">
                            </div>

                            <div class="col-md-4 mt-2">
                                <label>Color</label>
                                <input type="colors" class="form-control" id="inputColor">
                            </div>

                            <div class="col-md-4 mt-2">
                                <label>Fecha de atención</label>
                                <input type="date" name="bday" max="3000-12-31" 
                                    min="1000-01-01" class="form-control">
                            </div>
                            
                            <div class="col-md-4 mt-2">
                                <label>IMEI</label>
                                <input type="Imei" class="form-control" id="inputImei">
                            </div>

                            <div class="col-md-4 mt-2">
                                <label> $ Monto</label>
                                <input type="Monto" class="form-control" id="inputMonto">
                            </div>                                                        

                            <div class="col-md-12 mt-2">
                                <label>Trabajo a realizar</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>                 
                        </div>
                        <div class="container ml-2 mt-2 mb-5">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-1">          
                                        <button type="sumbit" class="btn btn-sm btn-block btn-primary float-right">Registrar</button>                               
                                </div>
                                <div class="col-12 col-md-6 mt-1">
                                    <button [routerLink]="['/order-list']" type="sumbit" class="btn btn-sm btn-block btn-danger float-left">Volver</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>