/* You can add global styles to this file, and also import other style files */

*Styels.css HeroesComponent*/
.body-heroes {
  margin-bottom: 4rem;
}

/*Styels.css footerComponent*/
.footer {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: .3rem;
  border: royalblue;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

/*animete.css*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }