<h2 class="text-center text-dark m-4">Tablero de operaciones</h2>
<hr>   

<div class="row align-items-center mb-5">
  <div class="col-md-2">
    <a  [routerLink]="['/client-list']"><img src="assets/resource/img/registro.png" class="card-img img-fluid" alt="Registro de cliente"></a>
  </div>
  <div class="col-md-4">
    <div class="card-body">
      <h5 class="card-title">Registro de cliente</h5>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
</div>

<div class="col-md-2">
  <a [routerLink]="['/order-list']"><img src="assets/resource/img/orden.png" class="card-img border-1" alt="Registro de orden"></a>
</div>
<div class="col-md-4">
  <div class="card-body">
    <h5 class="card-title">Registro de orden</h5>
    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
</div>
</div>

<div class="row align-items-center">
  <div class="col-md-2">
    <a [routerLink]="['/tracking-order-list']"><img src="assets/resource/img/seguimiento.png" class="card-img" alt="Seguimiento de dispositivo"></a>
  </div>
  <div class="col-md-4">
    <div class="card-body">
      <h5 class="card-title">Seguimiento de dispositivo</h5>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>

  <div class="col-md-2">
    <a [routerLink]="['/device-delivery-list']"><img src="assets/resource/img/retiro.png" class="card-img" alt="Retiro de dispositivo"></a>
  </div>
  <div class="col-md-4">
    <div class="card-body">
      <h5 class="card-title">Retiro de dispositivo</h5>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
 </div>
</div>